body {
    @include font-size(1.6);
    color: $color-text;
    font: {
        family: $font-primary;
    }
    line-height: 1.6;
}

p {
    margin: 0 0 2em;
}

blockquote {
    border-left: 6px solid $color-secondary;
    font: {
        style: italic;
    }
    margin: 1.5em;
    padding-left: 2em;

    @media (min-width: 768px) {
        margin-left: 2em;
        margin-right: 2em;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}