input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
textarea {
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    display: inline-block;
    padding: 15px 20px;

    &:focus {
        border-color: #b4b4b4;
        outline: 0;
    }

    #below-header-area &,
    #above-footer-area & {
        background: white;
        border-color: white;
        margin: 2px;
    }
}

.search-form {
    .search-field {
        width: 100%;
    }

    .widget & {
        input[type="submit"] {
            @include screen-reader-text;
        }
    }
}

/* Hidden Search */
#search-wrap {
    background: white;
    display: none;
    padding: 5em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 999999;

    .container {
        max-width: 600px;
        position: relative;
    }

    .search-submit {
        margin: .5em 0;
        width: 100%;
    }

    > .search-wrap-close {
        @include font-size(5.0);
        color: #c7c7c7;
        display: block;
        margin: 0 auto;

        &:hover {
            color: $color-text;
        }

        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 1em;
        }
    }
}