* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tinymce {
    margin-top: 25px;
    max-width: 960px;
    padding: 0 25px;
}

@import "sass/variables/variables";
@import "sass/mixins/mixins-master";
@import "sass/normalize";
@import "sass/typography/typography";
@import "sass/layout/columns";
@import "sass/navigation/links";
@import "sass/modules/alignments";
@import "sass/media/media";

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
    border: 2px dashed #eee;
    padding: 10px;
}