* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#tinymce {
    margin-top: 25px;
    max-width: 960px;
    padding: 0 25px;
}

@import "variables/variables";
@import "mixins/mixins-master";
@import "reset";
@import "elements/elements";
@import "media/media";
@import "modules/alignments";
@import "navigation/links";
@import "typography/typography";