// Body
$color__body-background: #ffffff;
$color__body-text: #404040;

// Buttons
$color__buttons-background: #333;
$color__buttons-border: #333;
$color__buttons-text: #fff;

// Screen Readers
$color__screen-text: #21759b;
$color__screen-background: #f1f1f1;