.navigation {
    display: block;
    font: {
        weight: bold;
    }
    text-transform: uppercase;

    .menu {
        @media screen and (min-width: 768px) {
            > li {
                > a {
                    padding: 22px 10px;
                }
            }
        }
    }

    ul {
        display: none;
        list-style: none;
        margin: 0;
        padding-left: 0;

        ul {
            background: white;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
            float: left;
            position: absolute;
            top: 100%;
            left: -999em;
            z-index: 99999;
            text-align: left;

            ul {
                left: -999em;
                top: 0;
            }

            li {
                &:hover > ul,
                &.focus > ul {
                    left: 100%;
                }
            }

            a {
                padding: 10px;
                width: 200px;
            }

            :hover > a,
            .focus > a {
            }

            a:hover,
            a.focus {
            }
        }

        li:hover > ul,
        li.focus > ul {
            left: auto;
        }
    }
    li {
        display: inline-block;
        position: relative;

        &:hover > a,
        &.focus > a {
        }
    }
    a {
        color: #333;
        display: block;
        text-decoration: none;

        &:hover {
            color: $color-primary;
        }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a {
    }
}

/* Small menu. */
.menu-toggle,
.navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
    .navigation ul {
        display: block;
    }

    #site-navigation-menu_1 {
        float: left;
    }
}