body {
    background: white;
}

#page {
    .layout-style-boxed & {
        @include container;
        background: white;
        padding: 0 15px;

        @media (min-width: 768px) {
            .container {
                padding: 0 15px;
            }
        }
    }
}

.layout-style-full {
    .container,
    #above-footer-area .widget:not(.null-instagram-feed) {
        @include container;
        padding: 0 15px;
    }
}

.sidebar-is-off {
    .container {
        max-width: 750px;
    }
}