body {
    background: #f4f4f4;
}

#page {
    background: #fff;

    .layout-style-boxed & {
        @include container;
        padding: 0 15px;

        @media (min-width: 768px) {
            .container {
                padding: 0 15px;
            }
        }
    }
}

.layout-style-full {
    .container {
        @include container;
        padding: 0 15px;
    }
}

.sidebar-is-off {
    .container {
        max-width: 750px;
    }
}