.widget {
    margin: 0 0 3em;
}

.widget-title {
    @include font-size(1.8);
    font: {
        weight: 900;
    }
    letter-spacing: .05em;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}

/* Responsive Stuff */
.sidebar-toggle {
    display: block;
    margin: 0 auto 15px;

    @media (min-width: 768px) {
        display: none;
    }
}

#sidebar-right,
#sidebar-left {
    display: none;

    &.toggled {
        display: block;
    }

    @media (min-width: 768px) {
        display: block;
    }
}