.widget {
    margin: 0 0 3em;
}

.widget-title {
    @include font-size(1.8);
    font: {
        weight: 900;
    }
    letter-spacing: .05em;
    margin: 0 0 10px;
    text-align: center;
    text-transform: uppercase;
}

/* Categories Widget */
.widget_categories {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            display: block;
            margin-bottom: 5px;
            width: 100%;
            text-align: center;
        }
    }

    select {
        display: block;
        width: 100%;
    }
}

/* Calendar Widget */
.widget_calendar {
    caption {
        font: {
            weight: bold;
        }
        margin-bottom: .5em;
    }
}

/* Icon Widget */
.info-icon-widget-wrap {
    @include font-size(4.0);
    margin-bottom: 10px;
    text-align: center;
}

/* Responsive Stuff */
.sidebar-toggle {
    display: block;
    margin: 0 auto 15px;

    @media (min-width: 768px) {
        display: none;
    }
}

#sidebar-right,
#sidebar-left {
    display: none;

    &.toggled {
        display: block;
    }

    @media (min-width: 768px) {
        display: block;
    }
}