#colophon {
    @include font-size(1.4);
    background: $color-secondary;
    color: $color-secondary-light;
    font: {
        weight: bold;
    }
    letter-spacing: .05em;
    padding: 2em 0 1.5em;
    text-transform: uppercase;
    text-align: center;

    a {
        color: $color-secondary-light;
        text-decoration: underline;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) {
    #infopreneur-copyright {
        float: left;
    }

    #infopreneur-credits {
        float: right;
    }
}

#above-footer-area {
    .null-instagram-feed {
        padding: 0;
    }

    .layout-style-full & {
        .widget:not(.null-instagram-feed) {
            @include container;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}