.site-branding {
    clear: both;
    padding: 1em 0;
    text-align: center;
}

.site-title {
    margin: 0;

    a {
        color: $color-secondary;
    }
}

.site-description {
    font: {
        style: italic;
    }
}

/* Featured area */
#featured-area {
    background-size: cover;
    background-position: center top;
    color: white;
    padding: 5em 0;
    text-align: center;

    .layout-style-boxed & {
        margin: 0 -15px;
    }

    &.featured-overlay {
        position: relative;

        &:before {
            background: $color-secondary;
            content: '';
            display: block;
            opacity: 0.5;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        > * {
            position: relative;
        }
    }

    @media (min-width: 992px) {
        &.featured-left {
            #featured-inner {
                max-width: 65%;
            }
        }

        &.featured-right {
            #featured-inner {
                margin-left: auto;
                max-width: 65%;
            }
        }
    }

    h1 {
        margin: 0 auto 10px;
    }
}

/* Widget Area */
#below-header-area,
#above-footer-area {
    background: #f4f4f4;

    .widget {
        margin: 0 auto;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        text-align: center;
    }

    .widget_mc4wp_form_widget {
        input[type="submit"] {
            margin: 2px;
        }
    }
}