#content {
    margin-top: 3em;
    margin-bottom: 3em;
}

.page-template-lead-box {
    background: $color-secondary;

    #main {
        background: white;
        max-width: 600px;
        margin: 0 auto;
        padding: 1em 2em;
    }
}

.home-widget-area {
    .widget_sp_image {
        text-align: center;
    }
}

/* Homepage Template */
@media (min-width: 768px) {
    .home-widget-area {
        display: flex;
        flex-flow: row wrap;
        margin: 0 -15px;

        > .widget {
            padding: 0 15px;
        }

        &.home-widget-area-1-cols {
            > .widget {
                width: 100%;
            }
        }

        &.home-widget-area-2-cols {
            > .widget {
                width: 50%;
            }
        }

        &.home-widget-area-3-cols {
            > .widget {
                width: 33.3%;
            }
        }

        &.home-widget-area-4-cols {
            > .widget {
                width: 25%;
            }
        }
    }
}

/* Simple Template */
.page-template-simple {
    .container {
        max-width: 750px;
    }

    .site-branding {
        padding: 2em 0 0;
    }

    #content {
        margin-top: 0;
    }

    .entry-title {
        margin-bottom: 1em;
    }
}